{%extends "base_layout.html" %}
{%block content%}
    <h1>Appointments :</h1>
    {% for ap in a1 %}
    <article class="media content-section">
    <img class = "rounded-circle article-img"src = "{{ ap.doc.doctor.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted"><b>Doctor :</b> {{ ap.doc.doctor.name }}</br></small>
        <small class="text-muted"><b>Date & Time : </b>{{ ap.date_time }}</br></small>
        <small class="text-muted"><b>Doctor comments : </b>{{ ap.doc_cmts }}</br></small>
        <small class="text-muted"><b>Status : </b>{{ ap.status }}</br></small>
        {% if ap.status != 'cancelled' %}
            <br>
            <a href="{% url 'appointment:cancel-appointment' ap.id %}" class="cancel-button" >Cancel</a>
        {% endif %}
      </div>
    </div>
    </article>
  {% endfor %}
{%endblock content%}