{%extends "base_layout.html" %}
{%block content%}
    <h1>Patient Records :</h1>
    {% for record in r1 %}
    <article class="media content-section">
    <img class = "rounded-circle article-img" src = "{{ record.pat.patient.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{%url 'records:record-detail' record.id%}">{{ record.pat.patient.name }}</a>
        <small class="text-muted"><br>Date & Time : {{ record.time }}</br></small>
      </div>
    </div>
    </article>
  {% endfor %}
{%endblock content%}