{%extends "base_layout.html" %}
{%block content%}
    <article class="media content-section">
    <img class = "rounded-circle article-img"src = "{{ doctor.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <h2 class = "article-title">Dr. {{ doctor.Name }}<h2>
        <small class="text-muted"><br>Specializaions : {{ doctor.specialization }}</br></small>
        <small class="text-muted"><br>Clinic Address = {{ doctor.work_address }}</br></small>
      </div>
    </div>
    </article>
{%endblock content%}