{%extends "base_layout.html" %}
{%block content%}
    <h1>Doctors :</h1>
    <form class="form-inline my-2 my-lg-3">
        <input class="form-control mr-sm-2" type="search" placeholder="name/locality/specialization" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% for doctor in doctors %}
    <article class="media content-section">
    <img class = "rounded-circle article-img"src = "{{ doctor.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{%url 'search:doctor-detail' doctor.id%}">{{ doctor.name }}</a>
        <small class="text-muted"><br> <b>Specialization : </b>{{ doctor.specialization }}</br></small>
        <small class="text-muted"><b>Locality : </b>{{ doctor.locality }}</small><br>
        {% if doctor.num_reviews == 0 %}
          <small class="text-muted"><b>Rating : no reviews</b></small>
        {% else %}
        <small class="text-muted"><b>Rating : {{doctor.rating}}</b></small>
        {% endif %}

      </div>
    </div>
    </article>
  {% endfor %}
{%endblock content%}