body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  ::-moz-placeholder {
    opacity: 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  a.link-button{
    color: black;
  font-size: 50px;
  color: #0000FF;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
  }

a.appointment-book {
    background-color: white;
    color: #33ccff;
    padding: 0.3em 1em;
   border-radius: 10px;
  }
  
a.appointment-book:hover{
      color: white;
      background-color: #33ccff;
  }
  .choices{
    padding: 30px;
    display: inline-block;
}

a.link-button{
     background-color: white;
  color: #33ccff;
  border: solid;
  border-radius: 15px;
  padding: 0.1em 0.7em;
  text-decoration: none;
  text-transform: uppercase;
}

a.link-button:active {
  background-color: white;
}

a.link-button:hover {
  background-color: #33ccff;
  color: white;
}

a.cancel-button{
  padding: 5px;
  color: red;
  background-color: white;
  border-radius: 5px;
}

a.cancel-button:hover{
  background-color: red;
  color: white;
}

a.approve-button{
  padding: 5px;
  color: green;
  background-color: white;
  border-radius: 5px;
}

a.approve-button:hover{
  background-color: green;
  color: white;
}



.rating1{
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.rating-wrapper{
  direction: rtl;
  padding: 0;
}

.rating-wrapper label{
  display: inline-block;
  width: 20px;
  position: relative;
  cursor: pointer;
}

.rating-wrapper input{
  display: none;
}

.rating-wrapper label:before{
    content: "\2605";
    position: absolute;
    font-size: 30px;
    display: inlne-block;
    top: 0;
    left: 0;
}

.rating-wrapper label:after{
    content: "\2605";
    position: absolute;
    font-size: 30px;
    display: inline-block;
    top: 0;
    left: 0;
    color: blue;
    opacity: 0;
}

.rating-wrapper label:hover:after,
.rating-wrapper label:hover ~ label:after,
.rating-wrapper input:checked ~ label:after{
  opacity: 1;
}