{%extends "base_layout.html"%}
{%block content%}
<div class="jumbotron">
    <p class=" text-center"><b>Features</b></p>
    
    <h3>Patients :</h3>
    <b><li>Search for a doctor to book an appointment</li></b>
    <b><li>View Booked Appointments</li></b>
    <b><li>Update Profile</li></b>
    <b><li>View Health Records (Updated only by a doctor)</li></b>
    <br>
    <h3>Doctors:</h3>
    <b><li>View and update booked appointments</li></b>
    <b><li>Add health record of a patient</li></b>
    <b><li>View/Update an health record</li></b>
    <b><li>Update Profile</li></b>

</div>
{%endblock content%}