{%extends "base_layout.html"%}
{%block content%}
   <div class="jumbotron">
       <p class=" text-center"><b> How to use?? </b></p>
       <b>1)</b> Register and Login<br>
       <b>2)</b> Update your profile<br>
       <b>3)</b> Wanna hold an election?? follow these steps :-
        <ul>
            <li> create a society using "Add Society" </li>
            <li> wait for voters to join your society and candidates to participate in your elections </li>
            <li>Add as many members in your created society by accepting only members you want to</li>
            <li> approve the member requests you want to for your society  </li>
            <li> start the election whenever you want by clicking on "conduct voting" </li>
            <li> share any information about the elections in the communicaton channel by clicking on announce </li>
            <li> end the elections once done and the results will be displayed on the results section</li>
        </ul>
           <b>4)</b> A candidate?? follow these steps :- 
        <ul> 
            <li> Search the society you want to contest in the search bar</li>
            <li> send a member request and once the admin of the society starts the election and notifies through the communication channel, contest in it </li>
        </ul>
        <b>5)</b> Want to vote?? A voter?? follow these steps :- 
        <ul> 
            <li> Search the society you want to vote in the search bar and send a member request</li>
            <li> Once a member and the admin of the society starts the election and notifies through the communication channel, cast your vote </li>
        </ul>

        <b>6)</b> Have something to share?? Go to the communication channel of the respective society(once a member) and click on announce


   </div>
{%endblock content%}