{%extends "base_layout.html"%}
{%block content%}
    <div class="container mt-3  text-justify " role="main" >
      <h1 class="font-italic">
        Health Management and Appointment System
      </h1>
    </div>
   <div class="container">
    <p>
      <h4>
      Helps maintain Health Records and book Appointments  
      </h4>
    </p>
   </div>
    <div>
      <h5 class="font-italic">Created by :- <a href = "http://cse.iitkgp.ac.in/~namanjain/">Naman Jain</a>(18C10034)</h5>
    </div>
{% endblock content %}